In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('(Titanic)train.csv',usecols =['Age','Pclass','Fare','Survived'])
df.sample(9)

     Survived  Pclass   Age     Fare
295         0       1   NaN  27.7208
872         0       1  33.0   5.0000
866         1       2  27.0  13.8583
662         0       1  47.0  25.5875
353         0       3  25.0  17.8000
436         0       3  21.0  34.3750
507         1       1   NaN  26.5500
688         0       3  18.0   7.7958
198         1       3   NaN   7.7500

In [3]:
df.isnull().mean() *100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [4]:
X = df.drop(columns = ['Survived'])
y = df['Survived']

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=43)

In [6]:
X_train.sample(5)

     Pclass   Age     Fare
22        3  15.0   8.0292
379       3  19.0   7.7750
262       1  52.0  79.6500
843       3  34.5   6.4375
795       2  39.0  13.0000

In [7]:
# knn = KNNImputer(n_neighbors =3,weights ='uniform')

# knn = KNNImputer()

# X_train_trf = knn.fit_transform(X_train)
# X_test_trf = knn.fit_transform(X_test)

In [8]:
knn = KNNImputer(n_neighbors =3,weights ='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [9]:
pd.DataFrame(X_train_trf,columns =X_train.columns)

     Pclass        Age      Fare
0       3.0  30.000000   56.4958
1       3.0  32.000000   56.4958
2       1.0  36.000000  120.0000
3       3.0  36.000000    7.8958
4       3.0  26.333333   24.1500
..      ...        ...       ...
707     2.0  35.333333    0.0000
708     2.0  31.000000   37.0042
709     3.0  29.000000   15.2458
710     3.0  22.000000    7.2500
711     3.0  21.000000    8.6625

[712 rows x 3 columns]

In [10]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6927374301675978

In [11]:
# Comparision with Simple Imputer --> mean
si = SimpleImputer()

X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [12]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6815642458100558